
/TrafficLight/Tiva_C_Launchpad/.jxbrowser.userdata
TrafficLight/Tiva_C_Launchpad/trafficLightSystem/.settings/org.eclipse.core.resources.prefs
TrafficLight/Tiva_C_Launchpad/trafficLightSystem/.launches/trafficLightSystem.launch
TrafficLight/Tiva_C_Launchpad/trafficLightSystem/.settings/org.eclipse.cdt.codan.core.prefs
TrafficLight/Tiva_C_Launchpad/trafficLightSystem/.settings/org.eclipse.cdt.debug.core.prefs
/TrafficLight/Basys3/trafficLightProjectFiles/trafficLightSystem.cache
/TrafficLight/Basys3/trafficLightProjectFiles/trafficLightSystem.runs
/TrafficLight/Basys3/trafficLightProjectFiles/trafficLightSystem.hw
/TrafficLight/Basys3/trafficLightProjectFiles/trafficLightSystem.sim
TrafficLight/Basys3/trafficLightProjectFiles/vivado.jou
TrafficLight/Basys3/trafficLightProjectFiles/vivado.log
TrafficLight/Basys3/trafficLightProjectFiles/vivado_11676.backup.jou
TrafficLight/Basys3/trafficLightProjectFiles/vivado_11676.backup.log
TrafficLight/Basys3/trafficLightProjectFiles/vivado_pid24012.str
