
/TrafficLight/Tiva_C_Launchpad/.jxbrowser.userdata
TrafficLight/Tiva_C_Launchpad/trafficLightSystem/.settings/org.eclipse.core.resources.prefs
TrafficLight/Tiva_C_Launchpad/trafficLightSystem/.launches/trafficLightSystem.launch
